name: Build Project

on:
  push:
    branches: [ "*" ]
  pull_request:
    branches: [ "*" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: swift-actions/setup-swift@v2
        with:
          swift-version: "6.2.0"
      - name: Checkout
        uses: actions/checkout@v4
      - name: Build
        run: swift build -v
